@font-face {
        font-family: heart;
        src: url(fonts/heart.ttf);
}
@font-face {
        font-family: San Francisco;
        src: url(fonts/SanFrancisco.otf);
        }

* {
  color: white;
}

#container {
  margin: auto;
  width: 400px;
  text-align: center;

  bottom: 50px;
  font-family: San Francisco;
  font-size: 2em;
  color: #333333;


  border: 5px solid white;
	padding: 20px;

	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  text-align: center;
  font-family: heart;
  font-size: 100px;

}

body {
  background-image: url('images/background.png');
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
